.call {
  border-radius: $secondary-border-radius;
  background: $tertiary-background-color;

  &__inner {
    padding: 3px 12px;
    position: relative;
    bottom: 10px;
    margin-top: 20px;
  }

  &__top {
    display: flex;
    gap: 9px;
    padding-left: 8px;
  }

  &__info {
    margin-top: 6px;
  }

  &__paragraph {
    color: $primary-text-color;
  }

  &__btn {
    background: $btn-background-color;
    border-radius: $primary-border-radius;
    width: 100%;
    border: none;
    padding: 8px 0;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    color: $secondary-text-color;
    cursor: pointer;
  }
}