$primary-color: #04B6F5;
$secondary-color: #E6F5FB;
$light-color: #ffffff;
$dark-color: #0E0E0F;

$primary-text-color: $dark-color;
$secondary-text-color: $light-color;
$tertiary-text-color: #9B9B9B;
$primary-background-color: #FAFAFB;
$secondary-background-color: $light-color;
$tertiary-background-color: $secondary-color;
$quaternary-background-color: #D4F1FB;
$btn-background-color: $primary-color;
$border-color: #C2EBFA;
$primary-border-radius: 24px;
$secondary-border-radius: 16px;
$tertiary-border-radius: 12px;
$quaternary-border-radius: 8px;


